<h2>Your Cart</h2>
<table>
  <%= render(cart.line_items) %>
  <tr>
    <td>Total</td>
    <td class="total_cell"><%= number_to_currency(cart.total_price, :unit => "=N=") %></td>
  </tr>
</table>
<%= button_to 'Empty Cart', cart, :method => :delete, :data => { :confirm => ':::Are you sure you want to empty Cart?' }, :remote => true %>


