<div class="depot_form">
  <fieldset>
    <legend><%= t('.legend') %></legend>
    <%= render 'form' %>
  </fieldset>
</div>

<%= javascript_include_tag 'orders', 'data-turbolinks-track' => true %>


